.LibraryPage-books{
    margin: 0px;
    padding: 0px;
}

.LibraryPage-books li{
    list-style: none;
    margin-bottom: 20px;
}

.libraryPage-headers span{
    display: grid | inline-grid;
    padding-left: 150px;
    text-align: center;
    justify-content: center ;
}
